[Section 1: Find Replace](#Section-1)

[Section 2: Missing Data imputation](#Section-2)

[Section 3: Rename](#Section-3)

In [1]:
import os

print(os.getcwd())

C:\Users\vrohi\OneDrive\Desktop\GitHub Repo\Python Pandas\W4

In [3]:
import pandas as pd, numpy as np

In [4]:
wine=pd.read_csv('winemag-data-130k-v2.csv', index_col=0)

wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [5]:
wine.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 129971 entries, 0 to 129970
Data columns (total 13 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   country                129908 non-null  object
 1   description            129971 non-null  object
 2   designation            92506 non-null   object
 3   points                 129971 non-null  int64
 4   price                  120975 non-null  float64
 5   province               129908 non-null  object
 6   region_1               108724 non-null  object
 7   region_2               50511 non-null   object
 8   taster_name            103727 non-null  object
 9   taster_twitter_handle  98758 non-null   object
 10  title                  129971 non-null  object
 11  variety                129970 non-null  object
 12  winery                 129971 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 13.9+ MB

#### Show the last five records of `wine`

In [6]:
wine.tail()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

#### Show a tuple of the number of columns and rows in `wine`

In [7]:
wine.shape

(129971, 13)

#### Show the columns in `wine`

In [8]:
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

#### Show the datatypes that are in `wine`

In [9]:
wine.dtypes

country                   object
description               object
designation               object
points                     int64
price                    float64
province                  object
region_1                  object
region_2                  object
taster_name               object
taster_twitter_handle     object
title                     object
variety                   object
winery                    object
dtype: object

### Show the summary stats for all columns in `wine`

In [10]:
wine.describe(include='all')

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
count,129908,129971,92506,129971.000000,120975.000000,129908,108724,50511,103727,98758,129971,129970,129971
unique,43,119955,37979,NaN,NaN,425,1229,17,19,15,118840,707,16757
top,US,"Seductively tart in lemon pith, cranberry and ...",Reserve,NaN,NaN,California,Napa Valley,Central Coast,Roger Voss,@vossroger,Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...,Pinot Noir,Wines & Winemakers
freq,54504,3,2009,NaN,NaN,36247,4480,11065,25514,25514,11,13272,222
mean,NaN,NaN,NaN,88.447138,35.363389,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,3.039730,41.022218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,80.000000,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,86.000000,17.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,88.000000,25.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,91.000000,42.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,100.000000,3300.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Show a list of unique wine tasters

In [11]:
wine['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

### Show the unique counts of values for all columns in the `wine` dataframe

In [12]:
wine.nunique()

country                      43
description              119955
designation               37979
points                       21
price                       390
province                    425
region_1                   1229
region_2                     17
taster_name                  19
taster_twitter_handle        15
title                    118840
variety                     707
winery                    16757
dtype: int64

In [13]:
# Look at the null values

print(wine.isnull().sum())

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
dtype: int64

### Show how many times each tasters name occurs

In [14]:
wine['taster_name'].value_counts()

Roger Voss            25514
Michael Schachner     15134
Kerin O’Keefe         10776
Virginie Boone         9537
Paul Gregutt           9532
Matt Kettmann          6332
Joe Czerwinski         5147
Sean P. Sullivan       4966
Anna Lee C. Iijima     4415
Jim Gordon             4177
Anne Krebiehl MW       3685
Lauren Buzzeo          1835
Susan Kostrzewa        1085
Mike DeSimone           514
Jeff Jenssen            491
Alexander Peartree      415
Carrie Dykes            139
Fiona Adams              27
Christina Pickard         6
Name: taster_name, dtype: int64

# Section 1
## Finding and Replacing Values

### Q1: What is the data type of the `points` column in the winemag csv?

In [15]:
wine['points'].dtype

dtype('int64')

### Q2: Create a new Series from the records in the `points` column:

In [16]:
wine['points_string'] = wine['points'].map(lambda x: str(x))

wine['points_string']

0         87
1         87
2         87
3         87
4         87
          ..
129966    90
129967    90
129968    90
129969    90
129970    90
Name: points_string, Length: 129971, dtype: object

In [17]:
wine['points_string'] = wine['points'].astype(str)

wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87

In [18]:
wine.points_string.head()

0    87
1    87
2    87
3    87
4    87
Name: points_string, dtype: object

### Q3: How many reviews in the dataset are missing a price?

In [19]:
wine['price'].isnull().sum()

8996

In [20]:
len(wine[wine['price'].isnull()])

8996

### Q4: How many records are missing a review (points) score?

In [21]:
len(wine[wine['points'].isnull()])

0

### Q5: How many null values are there in every column?

In [22]:
wine.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                 21247
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
points_string                0
dtype: int64

### Q6: What are the most common wine-producing regions?
#### Subquestion: how many wines are missing `region_1` in our dataset?

In [23]:
wine['region_1'].fillna('Unknown', inplace=True)

region_reviews = wine['region_1'].value_counts()

region_reviews

Unknown                    21247
Napa Valley                 4480
Columbia Valley (WA)        4124
Russian River Valley        3091
California                  2629
                           ...
Lamezia                        1
Trentino Superiore             1
Grave del Friuli               1
Vin Santo di Carmignano        1
Paestum                        1
Name: region_1, Length: 1230, dtype: int64

#### Show the top 5 wine producing regions based on the `region_1` field

In [24]:
region_reviews[1:6]

#If you didn't know Unknown was the top count then you can filter it out like this

region_reviews.loc[region_reviews.index != 'Unknown'][:5]

# Or using where()
#region_reviews.where(region_reviews.index != 'Unknown').dropna()[:5]

Napa Valley             4480
Columbia Valley (WA)    4124
Russian River Valley    3091
California              2629
Paso Robles             2350
Name: region_1, dtype: int64

# Section 2
## Dealing with missing data

### Q7:  Calculate the mean price and store the mean in a variable, `meanPrice`
>- Round to two decimal places

In [25]:
meanPrice = round(wine['price'].mean(),2)
meanPrice

35.36

### Q8: Replace all missing prices in the `wine` DataFrame with `meanPrice`

In [26]:
wine['priceImpute'] = wine['price'].fillna(meanPrice)

wine['priceImpute']

0         35.36
1         15.00
2         14.00
3         13.00
4         65.00
          ...
129966    28.00
129967    75.00
129968    30.00
129969    32.00
129970    21.00
Name: priceImpute, Length: 129971, dtype: float64

In [27]:
wine.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                     0
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
points_string                0
priceImpute                  0
dtype: int64

### Q9: What are the descriptive statistics for the original `price` column and the `priceImpute` column?

In [28]:
round(wine[['price','priceImpute']].agg(['count','sum','mean']),2)

            price  priceImpute
count   120975.00    129971.00
sum    4278086.00   4596184.56
mean        35.36        35.36

In [29]:
wine[['price','priceImpute']].describe()

               price    priceImpute
count  120975.000000  129971.000000
mean       35.363389      35.363155
std        41.022218      39.577066
min         4.000000       4.000000
25%        17.000000      18.000000
50%        25.000000      28.000000
75%        42.000000      40.000000
max      3300.000000    3300.000000

### Q10: Create a column, `imputeFlag`, that stores a 1 if the record used an imputed mean and a 0 if it does not

### One way to do this is to use the `map()` function

In [30]:
# Defining a function to impute 0's and 1's based on criteria

def impute(row):
    
    if row > 0:
        
        return 0
    
    else:
        return 1
        
    return row

In [31]:
wine['imputeFlag'] = wine['price'].map(impute)

#### You could also use a `lambda` function within `map()`

In [32]:
wine['imputeFlag'] = wine['price'].map(lambda row: 0 if row >0 else 1)

wine['imputeFlag']

0         1
1         0
2         0
3         0
4         0
         ..
129966    0
129967    0
129968    0
129969    0
129970    0
Name: imputeFlag, Length: 129971, dtype: int64

#### Show the first five records of `wine` with all of your changes

In [33]:
wine.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,priceImpute,imputeFlag
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,87,35.36,1
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,Unknown,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,87,15.00,0
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.00,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.00,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.00,0

#### Show all the column names in `wine`

In [34]:
wine.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'points_string', 'priceImpute', 'imputeFlag'],
      dtype='object')

#### Show the total null values in each column in `wine`

In [35]:
wine.isnull().sum()

country                     63
description                  0
designation              37465
points                       0
price                     8996
province                    63
region_1                     0
region_2                 79460
taster_name              26244
taster_twitter_handle    31213
title                        0
variety                      1
winery                       0
points_string                0
priceImpute                  0
imputeFlag                   0
dtype: int64

# Section 3
1. Renaming Columns
2. More Descriptive Analytics Practice

### Q11: Create a new DataFrame, wineUS, from `wine` for only US wines

In [36]:
wineUS = wine.loc[wine['country']=='US']

In [37]:
wineUS.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,points_string,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,34.0,0

In [38]:
wineUS.shape

(54504, 16)

In [39]:
wineUS.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'points_string', 'priceImpute', 'imputeFlag'],
      dtype='object')

In [40]:
wineUS.count()

country                  54504
description              54504
designation              36908
points                   54504
price                    54265
province                 54504
region_1                 54504
region_2                 50511
taster_name              37730
taster_twitter_handle    34741
title                    54504
variety                  54504
winery                   54504
points_string            54504
priceImpute              54504
imputeFlag               54504
dtype: int64

In [41]:
wineUS.isnull().sum()

country                      0
description                  0
designation              17596
points                       0
price                      239
province                     0
region_1                     0
region_2                  3993
taster_name              16774
taster_twitter_handle    19763
title                        0
variety                      0
winery                       0
points_string                0
priceImpute                  0
imputeFlag                   0
dtype: int64

### Q12: How many records/rows have null prices?

In [42]:
wine['price'].isnull().sum()

8996

### Q12: Rename the following columns
>- 'province' to 'state'
>- 'taster_name' to 'taster'
>- 'taster_twitter_handle' to 'twitter_handle'
>- 'points' to 'rating'

##### Note: Make all of these name changes in-place

In [43]:
wineUS.rename(columns = {'province':'state',
                         'taster_name':'taster',
                         'taster_twitter_handle':'twitter_handle',
                         'points':'rating'
                         }, inplace = True)

C:\Users\vrohi\AppData\Local\Temp\ipykernel_9776\389786198.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wineUS.rename(columns = {'province':'state',

#### Show the first 5 records after your change

In [44]:
wineUS.head()

,country,description,designation,rating,price,state,region_1,region_2,taster,twitter_handle,title,variety,winery,points_string,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,34.0,0

### Q13: How many records in `wineUS` have imputed values for `price`?

In [45]:
wineUS['imputeFlag'].sum()

239

### Q14: What are the descriptive stats for `price` and the imputed price field?

In [46]:
wineUS[['price','priceImpute']].describe()

              price   priceImpute
count  54265.000000  54504.000000
mean      36.573464     36.568143
std       27.088857     27.029518
min        4.000000      4.000000
25%       20.000000     20.000000
50%       30.000000     30.000000
75%       45.000000     45.000000
max     2013.000000   2013.000000

### Q15: Create a new column that transforms all the state values into state abbreviations based on using the first two letters of the state
>- Name the new column `st`
>- Make sure to have the abbreviations stored as upper case for both letters
>- Insert this column to the right of the state column

In [47]:
wineUS.insert(6,'st',wineUS['state'].map(lambda x: x[:2].upper()))

In [48]:
wineUS.head()

,country,description,designation,rating,price,state,st,region_1,region_2,taster,twitter_handle,title,variety,winery,points_string,priceImpute,imputeFlag
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,OR,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,87,14.0,0
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,MI,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,87,13.0,0
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,OR,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,87,65.0,0
10,US,"Soft, supple plum envelopes an oaky structure ...",Mountain Cuvée,87,19.0,California,CA,Napa Valley,Napa,Virginie Boone,@vboone,Kirkland Signature 2011 Mountain Cuvée Caberne...,Cabernet Sauvignon,Kirkland Signature,87,19.0,0
12,US,"Slightly reduced, this wine offers a chalky, t...",NaN,87,34.0,California,CA,Alexander Valley,Sonoma,Virginie Boone,@vboone,Louis M. Martini 2012 Cabernet Sauvignon (Alex...,Cabernet Sauvignon,Louis M. Martini,87,34.0,0

### Q16: What are the average ratings and prices for each state?

In [49]:
avgUS = round(wineUS.groupby('state').agg(['count','sum','mean']),2)

avgUS

C:\Users\vrohi\AppData\Local\Temp\ipykernel_9776\2076041331.py:1: FutureWarning: ['country', 'description', 'designation', 'st', 'region_1', 'region_2', 'taster', 'twitter_handle', 'title', 'variety', 'winery'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  avgUS = round(wineUS.groupby('state').agg(['count','sum','mean']),2)

                  rating                  price                    \
                   count      sum   mean  count        sum   mean
state
America               95     8218  86.51     95     1890.0  19.89
Arizona               41     3482  84.93     40     1168.0  29.20
California         36247  3212491  88.63  36104  1409538.0  39.04
Colorado              68     5856  86.12     68     2243.0  32.99
Connecticut            3      252  84.00      3       46.0  15.33
Hawaii                 1       87  87.00      1       28.0  28.00
Idaho                192    16627  86.60    190     3946.0  20.77
Illinois               6      507  84.50      6      194.0  32.33
Iowa                   4      332  83.00      4       62.0  15.50
Kentucky               1       83  83.00      1       35.0  35.00
Massachusetts          7      594  84.86      7      149.0  21.29
Michigan             114     9816  86.11    111     3600.0  32.43
Missouri              33     2750  83.33     33      572.0  17.33
Nevada                 4      337  84.25      4      151.0  37.75
New Jersey             8      672  84.00      8      204.0  25.50
New Mexico            45     3778  83.96     45     1009.0  22.42
New York            2688   234336  87.18   2676    61083.0  22.83
North Carolina        23     1945  84.57     23      483.0  21.00
Ohio                  12     1009  84.08     12      165.0  13.75
Oregon              5373   478476  89.05   5359   195845.0  36.55
Pennsylvania          18     1522  84.56     18      420.0  23.33
Rhode Island           1       90  90.00      1       25.0  25.00
Texas                 94     8010  85.21     93     2381.0  25.60
Vermont                3      253  84.33      3       95.0  31.67
Virginia             777    66520  85.61    770    20800.0  27.01
Washington          8639   768415  88.95   8583   278402.0  32.44
Washington-Oregon      7      619  88.43      7      125.0  17.86

                  points_string  \
                          count
state
America                      95
Arizona                      41
California                36247
Colorado                     68
Connecticut                   3
Hawaii                        1
Idaho                       192
Illinois                      6
Iowa                          4
Kentucky                      1
Massachusetts                 7
Michigan                    114
Missouri                     33
Nevada                        4
New Jersey                    8
New Mexico                   45
New York                   2688
North Carolina               23
Ohio                         12
Oregon                     5373
Pennsylvania                 18
Rhode Island                  1
Texas                        94
Vermont                       3
Virginia                    777
Washington                 8639
Washington-Oregon             7

                                                                      \
                                                                 sum
state
America            8587879090838685868690878485868885888790848988...
Arizona            8585848284878785838487848585848786868682858786...
California         8787878787868686868685858686868686868686868888...
Colorado           8787858585839086888486858687898688888786908991...
Connecticut                                                   848484
Hawaii                                                            87
Idaho              8787879188909088888883868387848387878685858586...
Illinois                                                858385848486
Iowa                                                        84848381
Kentucky                                                          83
Massachusetts                                         83858389858584
Michigan           8785888884848484838385878585858586868983868685...
Missouri           8483838286838584838585858484868385828285858182...
Nevada                                                      84858583
New Jersey                                          8383828784838387
New Mexico         8483838383838486828685868183858488848483848686...
New York           8888878785858585868585858989898789879090878686...
North Carolina        8690868682818186888485868284848585838385868384
Ohio                                        838680848487848384848486
Oregon             8787878686869185858589899295929292919191919191...
Pennsylvania                    868583858685868482918485858285858380
Rhode Island                                                      90
Texas              8585878787878487878585858888868685858587838387...
Vermont                                                       858484
Virginia           8787868685858588888488878584858986868686889187...
Washington         8686868686888789898989898787878787919193898989...
Washington-Oregon                                     88888988889088

                                 priceImpute                    imputeFlag  \
                            mean       count         sum   mean      count
state
America            9.039873e+187          95     1890.00  19.89         95
Arizona             2.094109e+80          41     1203.36  29.35         41
California                   inf       36247  1414594.48  39.03      36247
Colorado           1.292332e+134          68     2243.00  32.99         68
Connecticut         2.828280e+05           3       46.00  15.33          3
Hawaii              8.700000e+01           1       28.00  28.00          1
Idaho                        inf         192     4016.72  20.92        192
Illinois            1.430643e+11           6      194.00  32.33          6
Iowa                2.121210e+07           4       62.00  15.50          4
Kentucky            8.300000e+01           1       35.00  35.00          1
Massachusetts       1.197977e+13           7      149.00  21.29          7
Michigan           7.706920e+225         114     3706.08  32.51        114
Missouri            2.570860e+64          33      572.00  17.33         33
Nevada              2.121465e+07           4      151.00  37.75          4
New Jersey          1.047979e+15           8      204.00  25.50          8
New Mexico          1.885297e+88          45     1009.00  22.42         45
New York                     inf        2688    61507.32  22.88       2688
North Carolina      3.778639e+44          23      483.00  21.00         23
Ohio                6.989007e+22          12      165.00  13.75         12
Oregon                       inf        5373   196340.04  36.54       5373
Pennsylvania        4.825466e+34          18      420.00  23.33         18
Rhode Island        9.000000e+01           1       25.00  25.00          1
Texas              9.133914e+185          94     2416.36  25.71         94
Vermont             2.861613e+05           3       95.00  31.67          3
Virginia                     inf         777    21047.52  27.09        777
Washington                   inf        8639   280382.16  32.46       8639
Washington-Oregon   1.269843e+13           7      125.00  17.86          7


                   sum  mean
state
America              0  0.00
Arizona              1  0.02
California         143  0.00
Colorado             0  0.00
Connecticut          0  0.00
Hawaii               0  0.00
Idaho                2  0.01
Illinois             0  0.00
Iowa                 0  0.00
Kentucky             0  0.00
Massachusetts        0  0.00
Michigan             3  0.03
Missouri             0  0.00
Nevada               0  0.00
New Jersey           0  0.00
New Mexico           0  0.00
New York            12  0.00
North Carolina       0  0.00
Ohio                 0  0.00
Oregon              14  0.00
Pennsylvania         0  0.00
Rhode Island         0  0.00
Texas                1  0.01
Vermont              0  0.00
Virginia             7  0.01
Washington          56  0.01
Washington-Oregon    0  0.00

### Q17: What is the correlation between ratings and price?

In [50]:
wineUS[['rating','price','priceImpute']].corr()

               rating     price  priceImpute
rating       1.000000  0.453079     0.452409
price        0.453079  1.000000     1.000000
priceImpute  0.452409  1.000000     1.000000

In [51]:
avgUS.corr()

                       rating                         price            \
                        count       sum      mean     count       sum
rating        count  1.000000  0.999998  0.430270  1.000000  0.998808
              sum    0.999998  1.000000  0.430518  0.999998  0.998806
              mean   0.430270  0.430518  1.000000  0.430166  0.412250
price         count  1.000000  0.999998  0.430166  1.000000  0.998830
              sum    0.998808  0.998806  0.412250  0.998830  1.000000
              mean   0.428185  0.428535  0.289961  0.428161  0.424631
points_string count  1.000000  0.999998  0.430270  1.000000  0.998808
              mean   0.000000  0.000000  0.000000  0.000000  0.000000
priceImpute   count  1.000000  0.999998  0.430270  1.000000  0.998808
              sum    0.998837  0.998835  0.412422  0.998858  1.000000
              mean   0.427257  0.427604  0.290205  0.427231  0.423664
imputeFlag    count  1.000000  0.999998  0.430270  1.000000  0.998808
              sum    0.987842  0.987901  0.450619  0.987743  0.981275
              mean  -0.059265 -0.059274  0.095709 -0.059485 -0.065441

                              points_string      priceImpute            \
                         mean         count mean       count       sum
rating        count  0.428185      1.000000  0.0    1.000000  0.998837
              sum    0.428535      0.999998  0.0    0.999998  0.998835
              mean   0.289961      0.430270  0.0    0.430270  0.412422
price         count  0.428161      1.000000  0.0    1.000000  0.998858
              sum    0.424631      0.998808  0.0    0.998808  1.000000
              mean   1.000000      0.428185  0.0    0.428185  0.424676
points_string count  0.428185      1.000000  0.0    1.000000  0.998837
              mean   0.000000      0.000000  NaN    0.000000  0.000000
priceImpute   count  0.428185      1.000000  0.0    1.000000  0.998837
              sum    0.424676      0.998837  0.0    0.998837  1.000000
              mean   0.999979      0.427257  0.0    0.427257  0.423710
imputeFlag    count  0.428185      1.000000  0.0    1.000000  0.998837
              sum    0.428958      0.987842  0.0    0.987842  0.981413
              mean   0.198488     -0.059265  0.0   -0.059265 -0.065220

                              imputeFlag
                         mean      count       sum      mean
rating        count  0.427257   1.000000  0.987842 -0.059265
              sum    0.427604   0.999998  0.987901 -0.059274
              mean   0.290205   0.430270  0.450619  0.095709
price         count  0.427231   1.000000  0.987743 -0.059485
              sum    0.423664   0.998808  0.981275 -0.065441
              mean   0.999979   0.428185  0.428958  0.198488
points_string count  0.427257   1.000000  0.987842 -0.059265
              mean   0.000000   0.000000  0.000000  0.000000
priceImpute   count  0.427257   1.000000  0.987842 -0.059265
              sum    0.423710   0.998837  0.981413 -0.065220
              mean   1.000000   0.427257  0.428229  0.203477
imputeFlag    count  0.427257   1.000000  0.987842 -0.059265
              sum    0.428229   0.987842  1.000000 -0.004819
              mean   0.203477  -0.059265 -0.004819  1.000000

### Q18: Show the number of imputed prices by state?

In [52]:
wineUS.groupby('state').imputeFlag.sum()

state
America                0
Arizona                1
California           143
Colorado               0
Connecticut            0
Hawaii                 0
Idaho                  2
Illinois               0
Iowa                   0
Kentucky               0
Massachusetts          0
Michigan               3
Missouri               0
Nevada                 0
New Jersey             0
New Mexico             0
New York              12
North Carolina         0
Ohio                   0
Oregon                14
Pennsylvania           0
Rhode Island           0
Texas                  1
Vermont                0
Virginia               7
Washington            56
Washington-Oregon      0
Name: imputeFlag, dtype: int64

#### Now look at the imputed price values by state and region

In [53]:
wineUS.groupby(['state','region_1']).imputeFlag.sum().sort_values(ascending = False)

state              region_1
California         Paso Robles                23
Washington         Columbia Valley (WA)       15
                   Yakima Valley              13
California         Central Coast              12
                   Monterey                    9
                                              ..
                   Napa-Monterey-Mendocino     0
                   Napa-Sonoma                 0
                   Napa-Sonoma-Marin           0
                   Nevada County               0
Washington-Oregon  Unknown                     0
Name: imputeFlag, Length: 271, dtype: int64